/* Draws the main path and line tail */
@keyframes draw-line-infinite {
  0% {
    stroke-dashoffset: 200; /* Updated to match new path length */
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -200;
  }
}
@keyframes fade-elements-infinite {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  35% {
    opacity: 0.5;
    transform: scale(1.05);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}


@keyframes fade-arrow-infinite {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  55% {
    opacity: 0;
    transform: translateX(-15px);
  }
  65% {
    opacity: 0.5;
    transform: translateX(-7px);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

